{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - HOT GAMES</title>
    <link rel="stylesheet" href="/static/main/index.css">
</head>
<body>
    {% include "header.html" %}

    <div class="continer1">
        <div class="section1">
            <h1>О проекте <span style="color: #b32d2e;">HOT GAMES</span></h1>
            <div style="margin-top: 30px; line-height: 1.6; font-size: 18px; max-width: 800px; margin-bottom: 34px;">
                <p>Добро пожаловать на наш игровой сайт! Мы предлагаем лучшие цифровые товары и аккаунты для ваших игр, таких как <strong>Osu!</strong>, <strong>Doom</strong>, <strong>Hollow Knight</strong> и многих других.</p>
                <p>Наш сервис обеспечивает быструю доставку, качественную поддержку и честные цены для каждого геймера.</p>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>