.main_sec {
    color: black;
    box-shadow: 0 -4px 10px rgba(34, 60, 80, 0.15);
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(161, 160, 160));
    width: 100%;
    padding: 50px 0px;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.footer_content p {
    font-size: 14px;
    letter-spacing: 1px;
}

.footer_sud {
    color: black; 
    font-size: 12px;
}
.img1{
    max-width: 298px;
    margin-left: 270px;
}
