<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main/footer.css">
</head>

<body>
    <footer class="main_sec">
        <div class="footer_content">
            <p>2026 HOT GAMES всё законно!!!</p>
            <p class="footer_sud">Лучшие игры по доступным ценам</p>
        </div>
        <!-- <div class="imgfil">
            <img class="img1" src="/static/img/image.png" alt="">
        </div> -->
    </footer>
</body>

</html>